<div class="ui page grid">
  <div class="ui sixteen wide column">
    <div class="ui five small steps">
      <div {{bind-attr class="isStep1:active :step"}}>
        <i class="info circle icon"></i>
        <div class="content">
          <div class="title">Information</div>
        </div>
      </div>
      <div {{bind-attr class="isStep2:active :step"}}>
        <i class="archive icon"></i>
        <div class="content">
          <div class="title">Containers</div>
        </div>
      </div>
      <div {{bind-attr class="isStep3:active :step"}}>
        <i class="browser icon"></i>
        <div class="content">
          <div class="title">Fields</div>
        </div>
      </div>
      <div {{bind-attr class="isStep4:active :step"}}>
        <i class="code icon"></i>
        <div class="content">
          <div class="title">Postprocessing</div>
        </div>
      </div>
      <div {{bind-attr class="isStep5:active :step"}}>
        <i class="download icon"></i>
        <div class="content">
          <div class="title">Finalize</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui sixteen wide column">
    <div class="ui segment">
      {{outlet}}
    </div>
  </div>
</div>
