<h2 class="ui dividing header">
  <i class="archive icon"></i>
  <div class="content">
    Containers
    <div class="sub header">
      Select the observer's containers.
    </div>
  </div>
</h2>

<table class="ui table">
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th width="20%">Enclosing Identifier</th>
      <th>Container</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each con in containers}}
    <tr>
      <td>{{input type="text" value=con.name}}</td>
      <td>{{con.enclosing}}</td>
      <td>{{con.pattern}}</td>
      <td>
        <div class="ui red icon button" {{action "onRemoveContainer" con }}><i class="remove icon"></i></div></td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        <div class="ui blue labeled icon button" {{action "onSelectContainer"}}><i class="add icon"></i> Select Container</div>
      </th>
    </tr>
  </tfoot>
</table>

<div class="ui left labeled icon button" {{action "onBack"}}>
  <i class="left arrow icon"></i>
  Back
</div>

<div class="ui right labeled icon primary button" {{action "onNext"}}>
  <i class="right arrow icon"></i>
  Next
</div>
